body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

.container {
    background-color: #fff;
    max-width: 400px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    text-align: center;
}

h1 {
    color: #333;
}

small{
    color: red;
    margin-top: -10px;
}

.input-container {
    margin-bottom: 20px;
}

label {
    font-weight: bold;
}

input {
    padding: 8px;
    width: 100%;
    margin-top: 5px;
}

button {
    background-color: #007BFF;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    margin-top: 5px;
    border-radius: 5px;
}

button:hover {
    background-color: #0056b3;
}

#output {
    font-weight: bold;
    color: #333;
}
